@font-face {
    font-family: "KaiRegular";
    src: url("fonts/KaiRegular.otf") format("opentype");   
    }
body {
    font-family: "KaiRegular";
}
.ui-page {
	background-image:url(../img/theme_bg.jpg);
    background-size:cover;
}
.ui-header {
	background: none;
}
#recbut {
	width: 70%;
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.navImg   {
	width: 80%;
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}
.ui-icon-mysettings:after {
	background-image: url("../img/icons/settings_icon.png");
	background-size: 18px 18px;
}
/* Fallback */
.ui-nosvg .ui-icon-mysettings:after {
	background-image: url("../img/icons/settings_icon.png");
	background-size: 18px 18px;
}
.ui-link {
	text-decoration: none;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #FD5107;
}
