.ui-page {
	background-image:url(../img/bg.png);
    background-size:cover;
	background-attachment: fixed;
}
.recbut {
	width: 70%;
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
